<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0">
  <title>demo python top</title>
</head>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@ajusa/lit@latest/dist/lit.css" />
<body>
  <div class="c">
    <div class="row">
      <div class="col">
        <ul>
          <li><a href="/demo/python/chat">chat</a></li>
          <li><a href="/demo/python/meet">meet</a></li>
        </ul>
      </div>
    </div>
  </div>
</body>
</html>
