<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0">
  <title>chat</title>
</head>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@ajusa/lit@latest/dist/lit.css" />
<style>
body {
  font-family:-apple-system, BlinkMacSystemFont, "Helvetica Neue", "Segoe UI","Noto Sans Japanese","ヒラギノ角ゴ ProN W3", Meiryo, sans-serif;
}
.msg {
  background-color: #66ff66;
  margin: 5px;
  padding: 5px;
  display: inline-block;
}
.say {
  text-align: right;
}
.reply {
  text-align: left;
}
.inputarea {
  text-align: right;
}
.inputmsg {
  font-size: 18px;
}
</style>
<body>
  <div class="c">
    <div class="row">
      <div class="col">
        <div id="content"></div>
        <hr>
        <div class="inputarea">
          <input type="text" id="inputmsg" name="inputmsg" class="inputmsg">
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <p></p>
        <a href="/demo/python">demo top</a>
      </div>
    </div>
  </div>
</body>
<script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
<script type="text/javascript">
$(document).on('keydown', function(e){
  if (e.keyCode == 13) {
    if ($('#inputmsg').val()=='') { return; }
    $('#content').append('<div class="say"><p class="msg">' + $('#inputmsg').val() + '</p></div>'); 
    var postdata = { inputmsg: $('#inputmsg').val() };
    $('#inputmsg').val('');
    $.post('/demo/python/chat', postdata)
    .done(function(data){
      $('#content').append('<div class="reply"><p class="msg">' + data + '</p></div>'); 
    })
  }
})
</script>
</html>


